In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [25]:
# Load the data from /Dataset/Telco_customer_churn_demographics.xlsx
dataset = pd.read_excel('../Dataset/Telco_customer_churn_demographics.xlsx')

In [26]:
# Check for any missing values
dataset.isnull().sum()

Customer ID             0
Count                   0
Gender                  0
Age                     0
Under 30                0
Senior Citizen          0
Married                 0
Dependents              0
Number of Dependents    0
dtype: int64

In [27]:
# check the data types of the columns
dataset.dtypes

Customer ID             object
Count                    int64
Gender                  object
Age                      int64
Under 30                object
Senior Citizen          object
Married                 object
Dependents              object
Number of Dependents     int64
dtype: object

In [29]:
# drop the columns that are not required (Customer ID, Count, Under 30)
if 'Customer ID' in dataset.columns:
    dataset = dataset.drop(
        ['Customer ID', 'Count', 'Under 30', 'Senior Citizen', 'Dependents'], axis=1)

In [21]:
# turn the categorical variables into dummy variables
dataset = pd.get_dummies(dataset)

# check the data types of the columns
dataset.dtypes

Age                     int64
Number of Dependents    int64
Gender_Female           uint8
Gender_Male             uint8
Married_No              uint8
Married_Yes             uint8
Dependents_No           uint8
Dependents_Yes          uint8
dtype: object

In [30]:
# drop the newly created dummy variables that are not required
if 'Gender_Female' in dataset.columns:
    dataset = dataset.drop(['Gender_Female','Married_No','Dependents_No'], axis=1)


# rename the columns to remove the _Yes suffix
dataset.rename(columns={'Gender_Male': 'Gender', 'Married_Yes': 'Married'}, inplace=True)

# check the data types of the columns
dataset.dtypes

Gender                  object
Age                      int64
Married                 object
Number of Dependents     int64
dtype: object

##### Gender = 1 then male if 0 then female

In [31]:
# check the head of the dataset
dataset.head()

   Gender  Age Married  Number of Dependents
0    Male   78      No                     0
1  Female   74     Yes                     1
2    Male   71      No                     3
3  Female   78     Yes                     1
4  Female   80     Yes                     1